.container .team {
  display: inline-flex;
  margin-right: auto;
}

.section-team {
  background-color: var(--bg-secondary-color);
}

.team-img {
  margin-bottom: 30px;
}

.team-item {
  width: 270px;
  background-color: var(--bg-primary-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
  0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: flex;
}

.team-member ,
.member-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.employee {
  padding: 0px 59px 30px 59px;
}

.examples-wrap {
  padding: 20px 24px;
  border: 1px solid transparent;
}

.member-position {
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}
.member-social-list {
  display: flex;
  justify-content: center;
  }

.member-social-items {
  margin-right: 10px;
}

/*  SECTION SOCIAL ICONS */

.member-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--transition-fast), background-color var(--transition-fast);
}

.member-social-icon {
  fill: rgba(175, 177, 184, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--transition-fast), background-color var(--transition-fast);
}

.member-social-link:hover {
  background-color: var(--accent-text-color);
}
.member-social-link:focus {
  background-color: var(--accent-text-color);
}
.member-social-link:hover
.member-social-icon {
  fill: rgba(255, 255, 255, 1);
}
.member-social-link:focus
.member-social-icon {
  fill: rgba(255, 255, 255, 1);
}

